{
    "presets": ["env"],
    "plugins": [
        "transform-async-to-generator",
        "istanbul", {
            "exclude": [
                "**/*.spec.js"
            ],
            "useInlineSourceMaps": false
        }
    ]
}